# venv
venv/

# packages/installer info
*.egg
.eggs/
*.egg-info/
build
dist
eggs
sdist
develop-eggs

# compiled files
__pycache__
*.py[cod]
*.o
*.so
.pytest_cache

# sphinx
docs/_build
docs/_temaplate
docs/_static

# vscode
.vscode/

# pycharm
.idea

# other
.cache
.project
.coverage
.tox
*~
