# packages/installer info
*.egg
*.eggs/
*.egg-info/
build
dist
eggs
sdist
develop-eggs

# compiled files
__pycache__
*.py[cod]
*.o
*.so

# sphinx
docs/api
docs/_build

# pycharm
.idea

# other
.cache
.project
.coverage
.tox
*~
