\documentclass{article}

\title{\latest{$ meta $}}

\begin{document}

\begin{latest}{$ data $}
x = \latest{$ scalar $} so that $x^2$ = \latest{$ scalar**2 $}.
\end{latest}

\begin{itemize}
\begin{latest}{$ [{'i': i, 'v': v} for i, v in enumerate(data.vector)] $}[join={$ '\n' $}]
\item index = \latest{$ i $}, value = \latest{$ v $}
\end{latest}
\end{itemize}

\end{document}