\documentclass{article}

\title{{%title%}}
\author{<<<{%author%}>>>}
\date{<<<Biella (IT), {%date%}>>>}

\begin{document}
<<<content::x = {%x%} so that $x^2$ = {%x**2%}>>>.
\section{Prime Numbers}
\begin{itemize}
<<<content::primes::\item {%n%}>>>
\end{itemize}
\end{document}
