\documentclass{article}

\title{\latest{$ meta $}}

\begin{document}
\begin{latest}{$ False $}It doesn't exist.\end{latest}
\begin{latest}{$ True $}This exists and x = \latest{$ data.scalar $}.\end{latest}
\begin{latest}{$ data $}
x = \latest{$ scalar $} so that $x^2$ = \latest{$ scalar ** 2 $}.
\end{latest}
\begin{itemize}
\begin{latest}{$ [{'i': i, 'v': v} for i, v in enumerate(data.vector)] $}[join={$ '\n' $}]
\item index = \latest{$ i $}, value = \latest{$ v $}
\end{latest}
\end{itemize}
\begin{latest}{$ data.tensor $}[join={$ '\n' $}]
true = \latest{$ true $} and false = \latest{$ false $}
\end{latest}
\begin{latest}{$ data $}
\begin{latest}{$ tensor $}
Testing nested structures:
true = \latest{$ true $} and false = \latest{$ false $}
\end{latest}
\end{latest}
\end{document}