\documentclass{article}

\title{\latest{$ title $}}

\begin{document}
\begin{latest}{$ False $}It doesn't exist\end{latest}
\begin{latest}{$ content $}
x = \latest{$ scalar $} so that $x^2$ = \latest{$ scalar**2 $}.
\end{latest}
\begin{itemize}
\begin{latest}{$ content.vector $}[join={$ '\n' $}]
\item \latest{$ _index $}. \latest{$ _value $}
\end{latest}
\begin{latest}{$ content.tensor $}[join={$ '\n' $}]
x = \latest{$ x $} and y = \latest{$ y $}
\end{latest}
\begin{latest}{$ content $}
\begin{latest}{$ tensor $}
Testing nested structures:
x = \latest{$ x $} and y = \latest{$ y $}
\end{latest}
\end{latest}
\end{itemize}
\end{document}
